@import url(fonts.css);
@import url(reset.css);
@import url(swiper-bundle.min.css);

:root{
  body{
    font-family: 'Poppins';
  }
  .container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 738px;
    }
    @media (min-width: 992px) {
      max-width: 962px;
    }
    @media (min-width: 1200px) {
      max-width: 1170px;
    }
  }
  .freeze{overflow: hidden;}
  .subtitle {
    font-family: 'Source';
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EE5514;
  }
  .title {
    font-family: 'Source';
    font-weight: 600;
    font-size: 44px;
    line-height: 1.3;
    color: #1A0A03;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  height: 1px;
  top: 0;
  width: 100%;
  .header__wrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__container{
    position: relative;
    z-index: 100;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 81px;
    @media (min-width: 768px) {
      padding: 30px 15px;
    }
    @media (min-width: 992px) {
      padding: 40px 15px;
    }
  }
  .header__logo {
    display: block;
    width: 94px;
    height: 44px;
    position: relative;
    z-index: 2;
    img{
      position: absolute;
      top: 0;
      left: 0;
    }
    p{
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: 'Source';
      font-weight: 600;
      font-size: 1.57em;
      line-height: 1.5;
      text-transform: uppercase;
      color: #1a0a03;
    }
    &:hover, &:focus{
      outline: none;
      transform: scale(1.05);
    }
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
  .burger {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 2;
    &::before, span, &::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1a0a03;
      transition: all 0.2s ease 0s;
    }
    &::before{top: 6px;}
    span{
      top: 50%;
      transform: translate(0, -50%);
    }
    &::after{bottom: 6px;}
    &_active{
      &::before{
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }
      & span{opacity: 0;}
      &::after{
        bottom: 50%;
        transform: translate(0, 50%) rotate(-45deg);
      }
    }
    @media (min-width: 768px) {display: none;}
  }
  .menu {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all 0.2s ease 0s;
    @media (max-width: 767px) {
      justify-content: flex-start;
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 60px 15px 15px;
      flex-direction: column;
      background-color: #fff;
      &_active{top: 0;}
    }
  }
  .menu__list {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
      font-size: 1.2em;
    }
  }
  .menu__link {
    display: block;
    padding: 20px;
    font-family: 'Poppins';
    font-size: 1.14em;
    color: #1a0a03;
    opacity: 0.7;
    &:hover, &:focus{
      padding: 20px 19.7px;
      outline: none;
      font-weight: 500;
      color: #ee5514;
      opacity: 1;
    }
  }
  .menu__button {
    padding: 8px 18px;
    background-color: #ee5514;
    border-radius: 5px;
    font-size: 1.286em;
    line-height: 1.6;
    color: #fff;
    border: 2px solid #ee5514;
    &:hover, &:focus{
      outline: none;
      background-color: #fff;
      color: #ee5514;
    }
    @media (min-width: 768px) {
      padding: 10px 23px;
    }
    @media (min-width: 992px) {
      padding: 13px 28px;
    }
  }
}

.main {
  .hero {
    position: relative;
    z-index: 0;
    .hero__bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #EE5514 1.14%, rgba($color: #EE5514, $alpha: 0) 100%); opacity: 0.1;
    }
    .hero__container {
      padding-top: 131px;
      padding-bottom: 118px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      align-items: center;
      position: relative;
      z-index: 0;
    }
    .hero__call {
      color: #1A0A03;
      .hero__slogan {
        margin-bottom: 20px;
        max-width: 366px;
        font-family: 'Source';
        font-size: 61px;
        line-height: 1.2;
        font-weight: 600;
        span{color: #EE5514;}
      }
      .hero__text {
        max-width: 326px;
        font-size: 16px;
        line-height: 1.6;
        opacity: 0.7;
      }
    }
    .slider {
      width: 100%;
      position: relative;
      
      .slider__btn{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgba($color: #EE5514, $alpha: 0.1);
        position: absolute;
        top: 47%;
        &::after{
          display: block;
          width: 100%;
          font-size: 26px;
          font-weight: 700;
          line-height: 70px;
          text-align: center;
          color: #1A0A03;
        }
      }
      .swiper-button-prev {
        left: 0;
        &::after{
          padding-right: 4px;
        }
      }
      .swiper-button-next {
        right: 0;
        &::after{
          padding-left: 4px;
        }
      }
      .swiper-button-disabled{
        opacity: 0;
      }
      .slider__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        aspect-ratio: 1 / 1;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-position: center;
           object-position: center;
        border: 11px solid rgba($color: #EE5514, $alpha: 0.4);
      }
      .slider__slide {
        position: relative;
        z-index: 1;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          -o-object-position: center;
             object-position: center;
        }
      }
    }
    .hero__table {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: -50px;
      left: 0;
      padding: 30px 55px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 14px rgba($color: #1A0A03, $alpha: 0.05);
      .drop {
        position: relative;
        padding-right: 80px;
        &::after{
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          right: 35px;
          width: 1px;
          height: 42px;
          background-color: #EE5514;
          border-radius: 1px;
        }
        &:last-of-type{
          padding-right: 40px;
          &::after{
            width: 0;
          }
        }
      }
      .drop__decrioption {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.6;
        color: #1A0A03;
        opacity: 0.7;
      }
      .drop__menu {
        display: inline-block;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        font-family: inherit;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        color: #1A0A03;
        background-color: #fff;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        padding-right: 22px;
        background-image: url(../img/svg/drop-arrow.svg);
        background-position: right 12px;
        background-repeat: no-repeat;
        cursor: pointer;
        option{
          font-family: 'Poppins';
          padding: 0;
        }
      }
      .hero__buy-btn {
        padding: 13px 28px;
        background-color: #EE5514;
        border: 2px solid #EE5514;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        &:hover, &:focus{
          background-color: #fff;
          color: #EE5514;
        }
      }
    }
    
  }
  .video {
    .video__container {
      padding-top: 243px;
      padding-bottom: 70px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 15px;
    }
    .video__content {
    }
    .video__subtitle {
      margin-bottom: 10px;
    }
    .video__title {
      margin-bottom: 20px;
      max-width: 340px;
    }
    .video__text {
      max-width: 326px;
      font-size: 16px;
      line-height: 1.6;
      color: #1A0A03;
      opacity: 0.7;
    }
    .video__img {
      position: relative;
      img{
        width: 100%;
      }
    }
    .video__back {
      // display: none;
      position: absolute;
      top: -54px;
      right: -50px;
    }
    .video__front {
      position: relative;
      z-index: 1;
    }
    .video__round {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #fff;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      .video__play {
        width: 40%;
        height: 40%;
      }
    }
  }
  .feature {
    .feature__container{
      margin-top: 70px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .feature__subtitle {
      margin-bottom: 10px;
    }
    .feature__title {
      margin-bottom: 60px;
    }
    .feature__grid {
      align-self:stretch;
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        width: 360px;
        padding: 56px 60px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 1px 30px rgba($color: #1A0A03, $alpha: 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.2s ease 0s;
        .card__icon {
          margin-bottom: 38px;
          width: 140px;
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          &_quality {
            background-color: rgba($color: #1265E1, $alpha: 0.1);
          }
          &_flexible {
            background-color: rgba($color: #5F2EEA, $alpha: 0.1);
          }
          &_lasting {
            background-color: rgba($color: #AA21EA, $alpha: 0.1);
          }
        }
        .card__title {
          margin-bottom: 10px;
          font-family: 'Source';
          font-weight: 600;
          font-size: 22px;
          line-height: 1.5;
          color: #1A0A03;
        }
        .card__text {
          margin-bottom: 20px;
          color: #1A0A03;
          opacity: 0.7;
          text-align: center;
        }
        .card__btn {
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          p{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            color: #EE5514;
          }
          img{
            width: 5px;
            padding-top: 3px;
          }
          &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1%;
            height: 1px;
            transition: all 0.2s ease 0s;
          }
          &:hover::after, &:focus::after{
            width: 100%;
            background-color: #EE5514;
          }
        }
        &:hover{
          background-color: rgba($color: #EE5514, $alpha: 0.1);
        }
      }
    }
  }
  .gallary {
    .gallary__container{
      position: relative;
    }
    padding-top: 70px;
    padding-bottom: 70px;
    .gallary__subtitle {
      margin-bottom: 13px;
    }
    .gallary__title {
      margin-bottom: 16px;
    }
    .gallary__categories {
      display: flex;
      gap: 35px;
    }
    .categories {
      margin-bottom: 54px;
      font-size: 20px;
      line-height: 1.4;
      letter-spacing: 0.05em;
      color: rgba($color: #1A0A03, $alpha: 0.7);
      .categories__items {
        display: flex;
        gap: 35px;
      }
      .categories__item{
        cursor: pointer;
        position: relative;
        span{
          display: inline-block;
          padding-bottom: 7px;
        }
      }
      .categories__radio {
        position: absolute;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        &:checked + span{
          color: #EE5514;
          opacity: 1;
          border-bottom: 1px solid #EE5514;
        }
      }
    }
    // slider
    .gallary-slider {
      .gallary-slider__wrapper {
      }
      .gallary-slider__slide {
        width: 263px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 0;
        font-size: 16px;
        line-height: 160%;
        color: #1A0A03;
      }
      .gallary__img {
        margin-bottom: 20px;
        width: 100%;
      }
      .gallary-slider__title {
        font-family: 'Source';
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        color: #1A0A03;
      }
      .gallary-slider__size {
        color: rgba($color: #1A0A03, $alpha: 0.7);
        span{color: #1A0A03;}
      }
      .gallary-slider__price {
        color: rgba($color: #1A0A03, $alpha: 0.7);
        span{color: #1A0A03;}
      }
      .gallary-slider__btn {
        display: inline-block;
        padding: 13px 28px;
        background-color: #EE5514;
        border: 2px solid #EE5514;
        border-radius: 5px;
        color: #fff;
        &:focus, &:hover{
          background-color: #fff;
          color: #EE5514;
        }
      }
    }
    // slider navigation
    .gallary__slider-nav{
      position: relative;
      height: 0;
      @media (max-width: 767px) {
        height: 50px;
      }
    }
    .gallary-slider__next, .gallary-slider__prev{
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba($color: #EE5514, $alpha: 0.1);
      position: absolute;
      top: -100px;
      z-index: 2;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        top: -20px;
      }
      img{
        height: 40%;
      }
    }
    .gallary-slider__prev {
      right: 100px;
      @media (max-width: 767px) {
        right: 50%;
        transform: translateX(-50%);
      }
      img{
        transform: translateX(-2px) rotate(180deg);
      }
    }
    .gallary-slider__next {
      right: 0;
      @media (max-width: 767px) {
        right: 50%;
        transform: translateX(150%);
      }
      img{
        transform: translateX(2px);
      }
    }
    .swiper-button-disabled{
      img{
        opacity: 0.4;
      }
    }

  }
  .testimonials {
    .testimonials__container {
      padding-top: 70px;
      padding-bottom: 70px;
      .testimonials__title {
        margin-bottom: 60px;
        text-align: center;
        font-family: 'Source';
        font-weight: 600;
        font-size: 44px;
        line-height: 1.3;
        color: #1A0A03;
      }
      .testimonials__grid {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 4%;
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .testimonials__img {
        border-radius: 10px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @media (max-width: 767px) {
          height: 200px;
        }
      }
      .testimonials__content {
      }
      .testimonials-slider {
        position: relative;
      }
      .testimonials__slider-nav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: flex;
        gap: 50px;
        .testimonials__slider-btn{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: rgba($color: #EE5514, $alpha: 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 5px;
        }
        .testimonials__prev {
          transform: rotate(180deg);
        }
        .testimonials__next {
        }
        .swiper-button-disabled{
          img{
            opacity: 0.4;
          }
        }
      }
      .testimonials-slider__wrapper {
      }
      .testimonials-slider__slide {
      }
      .slide {
        .slide__img {
          margin-bottom: 30px;
          display: block;
        }
        .slide__quotation {
          margin-bottom: 10px;
        }
        .slide__main {
          margin-bottom: 15px;
          font-family: 'Source';
          font-weight: 600;
          font-size: 22px;
          line-height: 1.5;
          color: #1A0A03;
        }
        .slide__text {
          margin-bottom: 25px;
          font-style: italic;
          font-weight: 500;
          line-height: 1.6;
          color: #1A0A03;
          opacity: 0.7;
        }
        .slide__author {
          margin-bottom: 9px;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.6;
          color: #1A0A03;
        }
        .slide__authors-status {
          line-height: 1.6;
          color: #1A0A03;
          opacity: 0.8;
        }
      }
    }
  }
  
}
