@import url(fonts.css);
@import url(reset.css);
@import url(swiper-bundle.min.css);
:root body {
  font-family: "Poppins";
}
:root .container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  :root .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  :root .container {
    max-width: 962px;
  }
}
@media (min-width: 1200px) {
  :root .container {
    max-width: 1170px;
  }
}
:root .freeze {
  overflow: hidden;
}
:root .subtitle {
  font-family: "Source";
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #EE5514;
}
@media (max-width: 767px) {
  :root .subtitle {
    font-size: 17px;
  }
}
:root .title {
  font-family: "Source";
  font-weight: 600;
  font-size: 44px;
  line-height: 1.3;
  color: #1A0A03;
}
@media (max-width: 767px) {
  :root .title {
    font-size: 33px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  height: 1px;
  top: 0;
  width: 100%;
}
.header .header__wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.header .header__container {
  position: relative;
  z-index: 100;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 81px;
}
@media (min-width: 768px) {
  .header .header__container {
    padding: 30px 15px;
  }
}
@media (min-width: 992px) {
  .header .header__container {
    padding: 40px 15px;
  }
}
.header .header__logo {
  display: block;
  width: 94px;
  height: 44px;
  position: relative;
  z-index: 2;
}
.header .header__logo img {
  position: absolute;
  top: 0;
  left: 0;
}
.header .header__logo p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Source";
  font-weight: 600;
  font-size: 1.57em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #1a0a03;
}
.header .header__logo:hover, .header .header__logo:focus {
  outline: none;
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .header .header__logo {
    margin-top: 10px;
  }
}
.header .burger {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 2;
}
.header .burger::before, .header .burger span, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1a0a03;
  transition: all 0.2s ease 0s;
}
.header .burger::before {
  top: 6px;
}
.header .burger span {
  top: 50%;
  transform: translate(0, -50%);
}
.header .burger::after {
  bottom: 6px;
}
.header .burger_active::before {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}
.header .burger_active span {
  opacity: 0;
}
.header .burger_active::after {
  bottom: 50%;
  transform: translate(0, 50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .header .burger {
    display: none;
  }
}
.header .menu {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.2s ease 0s;
}
@media (max-width: 767px) {
  .header .menu {
    justify-content: flex-start;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 60px 15px 15px;
    flex-direction: column;
    background-color: #fff;
  }
  .header .menu_active {
    top: 0;
  }
}
.header .menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .menu__list {
    flex-direction: column;
    font-size: 1.2em;
  }
}
.header .menu__link {
  display: block;
  padding: 20px;
  font-family: "Poppins";
  font-size: 1.14em;
  color: #1a0a03;
  opacity: 0.7;
}
.header .menu__link:hover, .header .menu__link:focus {
  padding: 20px 19.7px;
  outline: none;
  font-weight: 500;
  color: #ee5514;
  opacity: 1;
}
.header .menu__button {
  padding: 8px 18px;
  background-color: #ee5514;
  border-radius: 5px;
  font-size: 1.286em;
  line-height: 1.6;
  color: #fff;
  border: 2px solid #ee5514;
}
.header .menu__button:hover, .header .menu__button:focus {
  outline: none;
  background-color: #fff;
  color: #ee5514;
}
@media (min-width: 768px) {
  .header .menu__button {
    padding: 10px 23px;
  }
}
@media (min-width: 992px) {
  .header .menu__button {
    padding: 13px 28px;
  }
}

.main .hero {
  position: relative;
  z-index: 0;
}
.main .hero .hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #EE5514 1.14%, rgba(238, 85, 20, 0) 100%);
  opacity: 0.1;
}
.main .hero .hero__container {
  padding-top: 131px;
  padding-bottom: 118px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  position: relative;
  z-index: 0;
}
@media (max-width: 991px) {
  .main .hero .hero__container {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .main .hero .hero__container {
    display: block;
  }
}
.main .hero .hero__call {
  color: #1A0A03;
}
.main .hero .hero__call .hero__slogan {
  margin-bottom: 20px;
  max-width: 366px;
  font-family: "Source";
  font-size: 61px;
  line-height: 1.2;
  font-weight: 600;
}
.main .hero .hero__call .hero__slogan span {
  color: #EE5514;
}
@media (max-width: 767px) {
  .main .hero .hero__call .hero__slogan {
    font-size: 48px;
  }
}
.main .hero .hero__call .hero__text {
  max-width: 326px;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .main .hero .hero__call .hero__text {
    margin-bottom: 20px;
  }
}
.main .hero .slider {
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .main .hero .slider {
    max-width: 354px;
  }
}
.main .hero .slider .slider__btn {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(238, 85, 20, 0.1);
  position: absolute;
  top: 47%;
}
.main .hero .slider .slider__btn::after {
  display: block;
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  color: #1A0A03;
}
.main .hero .slider .swiper-button-prev {
  left: 0;
}
.main .hero .slider .swiper-button-prev::after {
  padding-right: 4px;
}
.main .hero .slider .swiper-button-next {
  right: 0;
}
.main .hero .slider .swiper-button-next::after {
  padding-left: 4px;
}
.main .hero .slider .swiper-button-disabled {
  opacity: 0;
}
.main .hero .slider .slider__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  aspect-ratio: 1/1;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  border: 11px solid rgba(238, 85, 20, 0.4);
}
.main .hero .slider .slider__slide {
  position: relative;
  z-index: 1;
  width: 100%;
}
.main .hero .slider .slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.main .hero .hero__table {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -50px;
  left: 0;
  padding: 30px 55px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 14px rgba(26, 10, 3, 0.05);
}
@media (max-width: 992px) {
  .main .hero .hero__table {
    grid-column: span 2;
    display: flex;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 15px;
  }
}
.main .hero .hero__table .drop {
  position: relative;
  padding-right: 80px;
}
.main .hero .hero__table .drop::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  width: 1px;
  height: 42px;
  background-color: #EE5514;
  border-radius: 1px;
}
@media (max-width: 992px) {
  .main .hero .hero__table .drop::after {
    display: none;
  }
}
.main .hero .hero__table .drop:last-of-type {
  padding-right: 40px;
}
.main .hero .hero__table .drop:last-of-type::after {
  width: 0;
}
.main .hero .hero__table .drop__decrioption {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: #1A0A03;
  opacity: 0.7;
}
.main .hero .hero__table .drop__menu {
  display: inline-block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: #1A0A03;
  background-color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 22px;
  background-image: url(../img/svg/drop-arrow.svg);
  background-position: right 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.main .hero .hero__table .drop__menu option {
  font-family: "Poppins";
  padding: 0;
}
.main .hero .hero__table .hero__buy-btn {
  padding: 13px 28px;
  background-color: #EE5514;
  border: 2px solid #EE5514;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}
.main .hero .hero__table .hero__buy-btn:hover, .main .hero .hero__table .hero__buy-btn:focus {
  background-color: #fff;
  color: #EE5514;
}
.main .video .video__container {
  margin-top: 243px;
  margin-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 15px;
}
@media (max-width: 991px) {
  .main .video .video__container {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .main .video .video__container {
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .main .video .video__content {
    margin-bottom: 40px;
    text-align: center;
  }
}
.main .video .video__subtitle {
  margin-bottom: 10px;
}
.main .video .video__title {
  margin-bottom: 20px;
  max-width: 340px;
}
@media (max-width: 767px) {
  .main .video .video__title {
    max-width: 500px;
    margin: 0 auto;
  }
}
.main .video .video__text {
  max-width: 326px;
  font-size: 16px;
  line-height: 1.6;
  color: #1A0A03;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .main .video .video__text {
    max-width: 500px;
    margin: 0 auto;
  }
}
.main .video .video__img {
  position: relative;
}
.main .video .video__img img {
  width: 100%;
}
@media (max-width: 767px) {
  .main .video .video__img {
    max-width: 400px;
    margin: 0 auto;
  }
}
.main .video .video__back {
  position: absolute;
  top: -54px;
  right: -50px;
}
@media (max-width: 991px) {
  .main .video .video__back {
    top: -20px;
    right: -10px;
  }
}
.main .video .video__front {
  position: relative;
  z-index: 1;
}
.main .video .video__round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.main .video .video__round .video__play {
  width: 40%;
  height: 40%;
}
.main .feature {
  margin-bottom: 140px;
}
.main .feature .feature__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .feature .feature__subtitle {
  margin-bottom: 10px;
}
.main .feature .feature__title {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .main .feature .feature__title {
    margin-bottom: 20px;
  }
}
.main .feature .feature__grid {
  align-self: stretch;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.main .feature .feature__grid .card {
  width: 360px;
  padding: 56px 60px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 30px rgba(26, 10, 3, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.main .feature .feature__grid .card .card__icon {
  margin-bottom: 38px;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main .feature .feature__grid .card .card__icon_quality {
  background-color: rgba(18, 101, 225, 0.1);
}
.main .feature .feature__grid .card .card__icon_flexible {
  background-color: rgba(95, 46, 234, 0.1);
}
.main .feature .feature__grid .card .card__icon_lasting {
  background-color: rgba(170, 33, 234, 0.1);
}
.main .feature .feature__grid .card .card__title {
  margin-bottom: 10px;
  font-family: "Source";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #1A0A03;
}
.main .feature .feature__grid .card .card__text {
  margin-bottom: 20px;
  color: #1A0A03;
  opacity: 0.7;
  text-align: center;
}
.main .feature .feature__grid .card .card__btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .feature .feature__grid .card .card__btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #EE5514;
}
.main .feature .feature__grid .card .card__btn img {
  width: 5px;
  padding-top: 3px;
}
.main .feature .feature__grid .card .card__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1%;
  height: 1px;
  transition: all 0.2s ease 0s;
}
.main .feature .feature__grid .card .card__btn:hover::after, .main .feature .feature__grid .card .card__btn:focus::after {
  width: 100%;
  background-color: #EE5514;
}
.main .feature .feature__grid .card:hover {
  background-color: rgba(238, 85, 20, 0.1);
}
@media (max-width: 767px) {
  .main .feature .feature__grid .card {
    padding: 15px;
  }
  .main .feature .feature__grid .card .card__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
}
.main .gallary {
  margin-bottom: 140px;
}
.main .gallary .gallary__container {
  position: relative;
}
.main .gallary .gallary__subtitle {
  margin-bottom: 13px;
}
.main .gallary .gallary__title {
  margin-bottom: 16px;
}
.main .gallary .categories {
  margin-bottom: 54px;
  display: flex;
  gap: 35px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: rgba(26, 10, 3, 0.7);
}
.main .gallary .categories .categories__items {
  display: flex;
  gap: 35px;
}
.main .gallary .categories .categories__item {
  cursor: pointer;
  position: relative;
}
.main .gallary .categories .categories__item span {
  display: inline-block;
  padding-bottom: 7px;
}
.main .gallary .categories .categories__radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main .gallary .categories .categories__radio:checked + span {
  color: #EE5514;
  opacity: 1;
  border-bottom: 1px solid #EE5514;
}
@media (max-width: 767px) {
  .main .gallary .categories {
    display: block;
    margin-bottom: 35px;
    font-size: 17px;
  }
  .main .gallary .categories .categories__items {
    gap: 10px;
  }
  .main .gallary .categories .categories__item span {
    padding: 5px;
  }
}
.main .gallary .gallary-slider .gallary-slider__slide {
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary__img {
  margin-bottom: 20px;
  width: 100%;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__title {
  font-family: "Source";
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #1A0A03;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__size {
  color: rgba(26, 10, 3, 0.7);
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__size span {
  color: #1A0A03;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__price {
  color: rgba(26, 10, 3, 0.7);
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__price span {
  color: #1A0A03;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__btn {
  display: inline-block;
  padding: 13px 28px;
  background-color: #EE5514;
  border: 2px solid #EE5514;
  border-radius: 5px;
  color: #fff;
}
.main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__btn:focus, .main .gallary .gallary-slider .gallary-slider__slide .gallary-slider__btn:hover {
  background-color: #fff;
  color: #EE5514;
}
@media (max-width: 767px) {
  .main .gallary .gallary-slider .gallary-slider__slide .gallary__img {
    margin-bottom: 0;
  }
}
.main .gallary .gallary__slider-nav {
  position: relative;
  height: 0;
}
@media (max-width: 767px) {
  .main .gallary .gallary__slider-nav {
    height: 50px;
  }
}
.main .gallary .gallary-slider__next, .main .gallary .gallary-slider__prev {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(238, 85, 20, 0.1);
  position: absolute;
  top: -100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .main .gallary .gallary-slider__next, .main .gallary .gallary-slider__prev {
    top: -20px;
  }
}
.main .gallary .gallary-slider__next img, .main .gallary .gallary-slider__prev img {
  height: 40%;
}
.main .gallary .gallary-slider__prev {
  right: 100px;
}
@media (max-width: 767px) {
  .main .gallary .gallary-slider__prev {
    right: 50%;
    transform: translateX(-50%);
  }
}
.main .gallary .gallary-slider__prev img {
  transform: translateX(-2px) rotate(180deg);
}
.main .gallary .gallary-slider__next {
  right: 0;
}
@media (max-width: 767px) {
  .main .gallary .gallary-slider__next {
    right: 50%;
    transform: translateX(150%);
  }
}
.main .gallary .gallary-slider__next img {
  transform: translateX(2px);
}
.main .gallary .swiper-button-disabled img {
  opacity: 0.4;
}
.main .testimonials {
  margin-bottom: 140px;
}
.main .testimonials .testimonials__container {
  display: block;
}
.main .testimonials .testimonials__container .testimonials__title {
  margin-bottom: 60px;
  text-align: center;
  font-family: "Source";
  font-weight: 600;
  font-size: 44px;
  line-height: 1.3;
  color: #1A0A03;
}
.main .testimonials .testimonials__container .testimonials__grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: auto;
  gap: 4%;
}
@media (max-width: 767px) {
  .main .testimonials .testimonials__container .testimonials__grid {
    display: block;
  }
}
.main .testimonials .testimonials__container .testimonials__img {
  border-radius: 10px;
  overflow: hidden;
}
.main .testimonials .testimonials__container .testimonials__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767px) {
  .main .testimonials .testimonials__container .testimonials__img {
    height: 200px;
    margin-bottom: 20px;
  }
}
.main .testimonials .testimonials__container .testimonials__content {
  display: block;
  height: 100%;
}
.main .testimonials .testimonials__container .testimonials-slider {
  position: relative;
}
.main .testimonials .testimonials__container .testimonials__slider-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  gap: 50px;
}
.main .testimonials .testimonials__container .testimonials__slider-nav .testimonials__slider-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(238, 85, 20, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}
.main .testimonials .testimonials__container .testimonials__slider-nav .testimonials__prev {
  transform: rotate(180deg);
}
.main .testimonials .testimonials__container .testimonials__slider-nav .swiper-button-disabled img {
  opacity: 0.4;
}
.main .testimonials .testimonials__container .slide .slide__img {
  margin-bottom: 30px;
  display: block;
}
.main .testimonials .testimonials__container .slide .slide__quotation {
  margin-bottom: 10px;
}
.main .testimonials .testimonials__container .slide .slide__main {
  margin-bottom: 15px;
  font-family: "Source";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #1A0A03;
}
.main .testimonials .testimonials__container .slide .slide__text {
  margin-bottom: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  color: #1A0A03;
  opacity: 0.7;
}
.main .testimonials .testimonials__container .slide .slide__author {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #1A0A03;
}
.main .testimonials .testimonials__container .slide .slide__authors-status {
  line-height: 1.6;
  color: #1A0A03;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .main .testimonials .testimonials__container .slide .slide__img {
    margin-bottom: 15px;
  }
  .main .testimonials .testimonials__container .slide .slide__quotation {
    margin-bottom: 10px;
  }
  .main .testimonials .testimonials__container .slide .slide__main {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .main .testimonials .testimonials__container .slide .slide__text {
    margin-bottom: 15px;
  }
  .main .testimonials .testimonials__container .slide .slide__author {
    margin-bottom: 7px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .main .testimonials .testimonials__container .testimonials__title {
    margin-bottom: 20px;
    font-size: 33px;
  }
}
.main .signup {
  margin-bottom: 140px;
}
.main .signup .signup__container {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  background-color: rgba(129, 168, 218, 0.1);
}
.main .signup .signup__container .singup__img {
  overflow: hidden;
}
.main .signup .signup__container .singup__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .signup .signup__container .signup__content {
  max-width: 652px;
  padding: 63px;
  color: #1A0A03;
}
.main .signup .signup__container .signup__title {
  margin-bottom: 20px;
  font-family: "Source";
  font-weight: 600;
  font-size: 31px;
  line-height: 1.4;
}
.main .signup .signup__container .signup__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.7;
}
.main .signup .signup__container .signup__form {
  display: flex;
}
.main .signup .signup__container .signup__form input {
  flex: 1 1 auto;
  padding: 15px 30px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  font-size: 14px;
  line-height: 1.5;
  color: #1A0A03;
}
.main .signup .signup__container .signup__form input::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: #1A0A03;
  opacity: 0.5;
}
.main .signup .signup__container .signup__form input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: #1A0A03;
  opacity: 0.5;
}
.main .signup .signup__container .signup__form input::placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: #1A0A03;
  opacity: 0.5;
}
.main .signup .signup__container .signup__form input:hover, .main .signup .signup__container .signup__form input:focus {
  outline: none;
  border: 1px solid #EE5514;
  border-right: none;
}
.main .signup .signup__container .signup__form input:hover::-moz-placeholder, .main .signup .signup__container .signup__form input:focus::-moz-placeholder {
  opacity: 0;
}
.main .signup .signup__container .signup__form input:hover:-ms-input-placeholder, .main .signup .signup__container .signup__form input:focus:-ms-input-placeholder {
  opacity: 0;
}
.main .signup .signup__container .signup__form input:hover::placeholder, .main .signup .signup__container .signup__form input:focus::placeholder {
  opacity: 0;
}
.main .signup .signup__container .signup__form button {
  padding: 14px 39px;
  border-radius: 0 5px 5px 0;
  background-color: #EE5514;
  border: 1px solid #EE5514;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}
.main .signup .signup__container .signup__form button:hover, .main .signup .signup__container .signup__form button:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #EE5514;
  color: #EE5514;
}
@media (max-width: 767px) {
  .main .signup .signup__container .signup__form input {
    padding: 8px;
  }
  .main .signup .signup__container .signup__form button {
    padding: 7px;
  }
}
@media (max-width: 991px) {
  .main .signup .signup__container .signup__content {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .main .signup .signup__container .signup__content {
    padding: 15px;
    width: 100%;
  }
  .main .signup .signup__container .signup__title {
    margin-bottom: 12px;
    font-size: 24px;
  }
  .main .signup .signup__container .signup__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .main .signup .signup__container .singup__img {
    display: none;
  }
}
@media (max-width: 767px) {
  .main .feature, .main .gallary, .main .testimonials, .main .signup {
    margin-bottom: 50px;
  }
}

.footer {
  background-color: rgba(238, 85, 20, 0.04);
}
.footer .footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .footer__container .footer__content {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid rgba(166, 164, 164, 0.2);
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(26, 10, 3, 0.7);
}
.footer .footer__container .footer__content .footer__main {
  max-width: 265px;
}
.footer .footer__container .footer__content .footer__main .footer__logo {
  margin-bottom: 23px;
  width: 94px;
  height: 44px;
  position: relative;
}
.footer .footer__container .footer__content .footer__main .footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
}
.footer .footer__container .footer__content .footer__main .footer__logo p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: "Source";
  font-size: 22px;
  line-height: 1.5;
  color: #1A0A03;
}
.footer .footer__container .footer__content .footer__main .footer__address {
  margin-bottom: 20px;
}
.footer .footer__container .footer__content .footer__main .footer__mail {
  display: block;
  margin-bottom: 10px;
  color: inherit;
}
.footer .footer__container .footer__content .footer__main .footer__mail:hover, .footer .footer__container .footer__content .footer__main .footer__mail:focus {
  outline: none;
  margin-bottom: 9px;
  border-bottom: 1px solid #EE5514;
}
.footer .footer__container .footer__content .footer__main .footer__socials {
  display: flex;
  gap: 25px;
}
.footer .footer__container .footer__content .footer__main .footer__social:hover, .footer .footer__container .footer__content .footer__main .footer__social:focus {
  outline: none;
}
.footer .footer__container .footer__content .footer__main .footer__social:hover img, .footer .footer__container .footer__content .footer__main .footer__social:focus img {
  transform: scale(1.2);
}
.footer .footer__container .footer__content .footer__title {
  padding-top: 7px;
  color: #1A0A03;
  margin-bottom: 31px;
}
.footer .footer__container .footer__content .footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__container .footer__content .footer__link {
  color: inherit;
  margin-bottom: 5px;
}
.footer .footer__container .footer__content .footer__link:hover, .footer .footer__container .footer__content .footer__link:focus {
  outline: none;
  margin-bottom: 4px;
  border-bottom: 1px solid #EE5514;
}
.footer .footer__container .footer__content .footer__contact {
  max-width: 320px;
}
.footer .footer__container .footer__content .footer__contact .footer__text {
  margin-bottom: 38px;
}
.footer .footer__container .footer__content .footer__contact .footer__form {
  width: 100%;
  display: flex;
}
.footer .footer__container .footer__content .footer__contact .footer__form input {
  flex: 1 1 auto;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.footer .footer__container .footer__content .footer__contact .footer__form input:hover, .footer .footer__container .footer__content .footer__contact .footer__form input:focus {
  outline: none;
  border: 1px solid #EE5514;
}
.footer .footer__container .footer__content .footer__contact .footer__form input:focus::-moz-placeholder {
  opacity: 0;
}
.footer .footer__container .footer__content .footer__contact .footer__form input:focus:-ms-input-placeholder {
  opacity: 0;
}
.footer .footer__container .footer__content .footer__contact .footer__form input:focus::placeholder {
  opacity: 0;
}
.footer .footer__container .footer__content .footer__contact .footer__form button {
  padding: 14px 29px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #EE5514;
  background-color: #EE5514;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}
.footer .footer__container .footer__content .footer__contact .footer__form button:hover, .footer .footer__container .footer__content .footer__contact .footer__form button:focus {
  outline: none;
  border: 1px solid #EE5514;
  background-color: #fff;
  color: #EE5514;
}
@media (max-width: 767px) {
  .footer .footer__container .footer__content .footer__contact .footer__form input {
    padding: 15px;
  }
  .footer .footer__container .footer__content .footer__contact .footer__form button {
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .footer .footer__container .footer__content {
    flex-wrap: wrap;
  }
}
.footer .footer__container .footer__copy {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #1A0A03;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */